#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	mkdir -p debian/paste-links/usr/share/nautilus-python/extensions
	install -m 0644 src/paste_links.py debian/paste-links/usr/share/nautilus-python/extensions/
	install -m 0644 src/core_logic.py debian/paste-links/usr/share/nautilus-python/extensions/
